%header.outer-header
  .inner-header
    %a.brand{ :href => root_path }
      BaD EMPORIUM

    %ul.pull-right
      - if user_signed_in?
        %li
          = link_to blackjack_new_path do
            CREATE GAME
        %li
          = link_to blackjack_find_path do
            FIND GAME
        %li
          = link_to destroy_user_session_path do
            SIGN OUT
      - else
        %li
          = link_to new_user_session_path do
            SIGN IN